html{
	text-align: center;
	background-color: black;
}
.grid-cont{
	width: 50%;
	height: 75%;
	margin:  0 auto;
	margin-top: 5%;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	background-color: black;
}
.grid-cont > span{
	background-color: black;
	border: white 2px solid;
	height: 150px;
	text-align: center;
	margin: 0;
	vertical-align: center;
	line-height: 150px;
	cursor: pointer;
	font-size: 100px;
	color: white;
}
p {
	cursor: pointer;
	font-size: 36px;
	text-align: center;
}
button{
	margin: auto;
	margin-right: 1%;
	border-radius: 3px;
	background-color: white;
	color: black;
}